.imagen-inicio {
  
    background: #7ed9cb;
    background: radial-gradient(circle, #7ed9cb -26%, #5ecad2 1%, #5ed2aa 79%);
  }
  .imagen-inicio img {
    width: 450px;
    height: 450px;
    border-radius: 25px;
    padding: 10px;
  }