.navbar-brand{
    width: auto;
    font-size: 65px;
    justify-content: center
    ;}
    
nav {
   list-style: none;
   font-family: 'Oswald', sans-serif;
   font-size: 20px;
   padding: 100px;
      }
.nav-item {
    background-color: #7ed9cb;
    width: auto;
.nav-link:hover {
    background-color: aquamarine;
    border-style: solid;
    color: black;
    }
 .logo {
    font-size: 40px;
}
      
}