.titulo-pagina{
    width: auto;
    height: 180px;

h1 {
    font-size: 80px;
    font-family: 'Oswald', sans-serif;
    color: black;
    text-align: center;
    padding: 5px
}

.titulosh2{
    font-family: 'Oswald', sans-serif;
    font-size: 50%;
    font-size: large;
    text-align: center;
    color: black;
}
}

h5 {
    font-size: 130px;
    text-align: center;
    justify-content: center;
    color: #54d4c1;;
    }
  
  


.titulo-pagina {
    animation-name: titulos;
    animation-iteration-count: infinite;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-direction: alternate;
}
      

@keyframes titulos {
    from {
         transform: scale(1);
    }
    to {
         transform: scale(1.1);
    }
  }