
* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    font-family: 'Oswald', sans-serif;
    text-align: center;
  }
  
  a {
    text-decoration: none;
    color: black;

    $color-principal:#7ed9cb;
    $fuentetitulos:80px;
    $estilofuentes: 'Oswald', sans-serif;
  }
  
  .titulo-pagina {
      width: 100%;
      height: 150px;
      background: rgb(47,217,175);
      background: linear-gradient(302deg, rgba(47,217,175,1) -26%, rgba(126,217,203,1) 96%);
  }

@import "_navbar";
@import "_tituloAnimado";
@import "_imagenesInicio";
@import "_textoTarjetas";
@import "_footer";
@import "_formulario";


header {
    @extend .titulo-pagina
}

.cotenedor-mayorista img {
  width: 700px;
  height: 700px;
  margin-left: 380px;
  
}