*{
    margin: 0;
    padding: 0;
box-sizing: border-box;
}

a{ text-decoration: none;
    color: black;}
    


/************************************index*******************************************/

/*************************************grid*******************************************/
.grid-contenedor{
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto 250;
    grid-template-areas: 
                "nav nav"
                "header header"
                "main main"
                "footer footer";
}

/************************************index*******************************************/

header{
grid-area: header ;
background-image: url(../assets.css/bannerhelados.png);
height: 600px;
justify-content: center;
background-size: cover;

}


 header img {
     width:100%;
     height: 300px;
     display: flex;
     justify-content: center;
     align-items: center;
     text-align: center;
     
 }

h1{
    font-size: 65px;
    font-family: 'Oswald', sans-serif;
    color: rgb(0, 0, 0);
   text-align: center;
  padding: 5px;
  
}

h2 {
    font-family: 'Oswald', sans-serif;
    font-size: 50%;
    color:rgb(236, 131, 131);
    font-size: large;
    text-align: center;

    }


/*********body********/
body{

width: 100%;
background: linear-gradient(45deg, rgba(255,255,255,1) 0%, rgba(222,196,176,1) 100%);
}


/**********NAV***********/

.menu-navegable{
    grid-area: nav ;
    list-style:none;
    background-color: #7ed9cb;
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: space-around;
    align-items:center;
    position: sticky;
    top: 0;
    -webkit-box-shadow: 0px 16px 21px -1px rgba(0,0,0,0.38);
    -moz-box-shadow: 0px 16px 21px -1px rgba(0,0,0,0.38);
    box-shadow: 0px 16px 21px -1px rgba(0,0,0,0.38);
    
    }
    
    .menu-navegable div  {
        list-style: none;
        font-family: 'Oswald', sans-serif;
        display: inline-block;
        font-size: 17px;
        padding: 100px;
        align-content: center;
        text-align: center;
        }
    
    ul li a {
    background-color: #7ed9cb;
    width: 100%;
    }
    
    ul li a:hover {
    background-color: aquamarine;
    border-style: solid; color: black;
    }


/*************CONTENEDOR DE PRODUCTOS************************/

.contenedor-tarjetas{
grid-area: main ;
width: 500px;
height: 500px;
background-color:rgb(236, 131, 131);
border-radius: 10px;
padding-left: 10px;
margin: 20px;
justify-content: center;
align-content: center;
-webkit-box-shadow: 0px -1px 45px -1px rgba(0,3,2,1);
-moz-box-shadow: 0px -1px 45px -1px rgba(0,3,2,1);
box-shadow: 0px -1px 45px -1px rgba(0,3,2,1);
}

.producto-imagen{
width: 90%;
height: 350px;
padding: 25px;
}





.Contenedor-productos {
display: flex;
font-family: 'Oswald', sans-serif;
font-size: 22px;
text-align: center;
margin-left: 500px;


}

/***************footer***************/
footer{
grid-area: footer ;
width: 100%;
height: 60px;
background-color: bisque;
color: black;
}

.redes{
grid-area: footer;
list-style:none;
background-color: #7ed9cb;
width: 100%;
height: 60px;
display: flex;
justify-content:center;
align-items:center;
margin:0



}

.redes div {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    display: inline-block;
    font-size: 22px;
    padding: 5px;
    align-content: center;
    text-align: center;
    align-items: center;
    }

.redes img {
width: 50px;
align-items: center;
}



.copy-right {
font-family: 'Oswald', sans-serif;
background-color: rgb(173, 225, 207);
text-align: center;
align-content: center;
justify-content: center;
padding: 10px;
height: 50px;
}




/*************************************producto************************************/
p{
  padding-top: 15px;
}

video {
  margin-left: 35%;
  margin-top: 35px;
}

.vuelve-menu {

align-items: center;
justify-content: center;
font-size: 25pX;
padding-left: 650px;

}

.descripcion-producto{
font-family: 'Oswald', sans-serif;
font-size: 20px;
text-align:center;
}

/*******************FORMULARIO********************/
.formulario-hijo {

padding: 15px;
background-color: rgb(255, 127, 163);
-webkit-box-shadow: 0px 16px 21px -1px rgba(0,0,0,0.38);
-moz-box-shadow: 0px 16px 21px -1px rgba(0,0,0,0.38);
box-shadow: 0px 16px 21px -1px rgba(0,0,0,0.38);
border: solid  1px;
}

input{
padding: 10px;
margin:10px;
width: 50%;
height: 25px;
font-family: 'Oswald', sans-serif;
align-items: flex-end;
}





label {
font-family: 'Oswald', sans-serif; ;
}
/********************************venta mayorista**********************/

.contenedor-formulario {
grid-area: main ;
width: 500px;
height: 380px;
background-color:rgb(236, 131, 131);
border-radius: 10px;
padding-left: 10px;
margin: 20px;
justify-content: center;
align-content: center;
-webkit-box-shadow: 0px -1px 45px -1px rgba(0,3,2,1);
-moz-box-shadow: 0px -1px 45px -1px rgba(0,3,2,1);
box-shadow: 0px -1px 45px -1px rgba(0,3,2,1);
}




.venta-mayorista  a {
font-family: 'Oswald', sans-serif;
font-size: 20px;
text-align:center;
margin-left: 39%;


}

h5 {
    color: rgb(10, 166, 88);
    font-family: 'Oswald', sans-serif;
    font-size: 65px;

}
